$body-font: 'Lato', sans-serif;
$secondary-font: 'Josefin Slab', serif;
$code-font: 'Anonymous Pro', monospace;

$black: #302623;
$black-2: #222222;
$black-3: #2f2f2f;
$dark: #202d35;
$slate-grey: #565d67;
$slate: #4f5868;
$cool-blue: #5685c4;
$light-grey-blue: #8caec7;
$light-grey-blue-2: #8ca5c7;
$cloudy-blue: #b6c8d3;
$cloudy-blue-2: #b6c6d3;
$dusk: #483d68;
$brick-orange: #be4705;
$dark-grey-blue: #344660;
$rust-brown: #8a2803;
$blush: #ef9b81;
$blush-2: #f0b9a5;
$dark-mauve: #8a4354;
$dark-purple: #373854;